<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
    <div style="margin:50px auto;width:70%;padding:20px 0">
      <div style="border-bottom:1px solid #eee">
        <a href="" style="font-size:1.4em;color: #752b03;text-decoration:none;font-weight:600">TEAM PROFOLIO</a>
      </div>
      <p style="font-size:1.1em">Hi User,</p>
      <p>Thank you for choosing <strong>Profolio</strong>. Use the following OTP to verify your email on ProFolio.
        OTP is valid for 5 minutes</p>
      <h2 style="background: #752b03;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">
        {{otp}}</h2>
      <p style="font-size:0.9em;">Regards,<br />Team Profolio</p>
      <hr style="border:none;border-top:1px solid #eee" />
      <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
        <p>Team Profolio</p>
      </div>
    </div>
  </div>